.center {
    text-align: center;

    h1 {
        text-transform: capitalize;
    }
}

#todo-list {
    list-style-type: none;
    padding-left: 0;

    li {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 10px 10px;

        &.complete {
            .content {
                text-decoration: line-through;
            }
        }
    }


    .content {
        flex: 1;
        padding: 0 10px;

        &~input {
            // 「 & ~ input 」意思是在class為 .content 之下的 input。
            margin: 0 10px;
            flex: 1;
        }

    }
}