<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Todo lists Part 2</title>
    <link
        rel="stylesheet"
        href="scss/dist/main.css"
    >
</head>

<body>

    <div id="app">
        <div class="center">
            <h1>todo lists:</h1>
            <input
                type="text"
                v-model="addMessage"
                @keyup.enter="createTodo"
            >
        </div>

        <ul id="todo-list">
            <li
                v-for="(todo,index) in todos"
                :data-id="todo.id"
                :class="{ 'complete': todo.complete }"
            >
                <input
                    type="checkbox"
                    v-model="todo.complete"
                >
                <div class="content"> {{todo.content}} </div>
                <button @click="deleteTodo(todo,index)">x</button>
                <!-- index代表 todos 陣列中每一筆資料(todo)的索引值 。-->
            </li>

        </ul>
    </div>


    <!-- 【 Vue.js 】CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- 引入js方法一：用<script src="檔名.js">的方式引入外部js檔案。 -->
    <script src="main.js"></script>
    <!--  引入js方法二：直接將Vue.js instance寫入html -->
    <!-- <script>
        const one = Vue.createApp({
            data() {
                return {
                    message: ''
                }
            },
            methods: {
                show() {
                    alert('Hi!!')
                }
            }
        }).mount('#app');
    </script> -->
</body>

</html>